<ul class="nav nav-tabs nav-stacked">
<li><a href="{{ path('fos_user_profile_edit') }}">{{ 'Profile'|trans }}</a></li>
<li><a href="{{ path('fos_user_change_password') }}">{{ 'Password'|trans }}</a></li>
</ul>
